<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:security="http://www.springframework.org/schema/security"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
							http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
							http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<security:http auto-config="true">
		<security:intercept-url pattern="/add" access="hasRole('ROLE_ADMIN')" />
		
		 <!-- <security:intercept-url pattern="/addToCart" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/checkout" access="hasRole('ROLE_USER')"/>  -->
		
		<security:form-login login-page="/login" default-target-url="/" authentication-failure-url="/failure"/>		
		<security:logout logout-url="/logout" logout-success-url="/" invalidate-session="true" delete-cookies="JSESSIONID"/>		
		 <!-- invalidate-session="true" delete-cookies="JSESSIONID" -->
		<security:csrf disabled="true"/>
	</security:http>
	<bean id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource">

    <property name="driverClassName" value="org.h2.Driver" />
    <property name="url" value="jdbc:h2:tcp://localhost/~/demo" />
    <property name="username" value="sa" />
    <property name="password" value="" />
   </bean>
		<security:authentication-manager>
<!-- 		 <security:authentication-provider>
			<security:user-service>
				<security:user name="shalu@xmail.com" password="shalu"  authorities="ROLE_ADMIN" />
			</security:user-service>
		</security:authentication-provider>  -->
		<security:authentication-provider>
		<security:jdbc-user-service data-source-ref="dataSource"
		  users-by-username-query=
		    "select email, password, enabled from user where email=?"
		  authorities-by-username-query=
		    "select email, role from user where email=? and (role = 'ROLE_ADMIN' OR role = 'ROLE_USER') " />
	  </security:authentication-provider>
	</security:authentication-manager>

</beans>